@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{
	var selection = Umbraco.Content(Guid.Parse("e3b39edb-8da7-4cdc-8b9a-c3e138c6a059"))
    .ChildrenOfType("projectItem")
    .Where(x => x.HasValue("projectStatus") && x.GetProperty("projectStatus").Value<string>() == "Completed")
    .Where(x => x.IsVisible()).Take(3)
    .OrderByDescending(x => x.CreateDate);
}
<div>
    <ul>
    	@foreach (var item in selection)
    	{
    		<li>
    			<a href="@item.Url">@item.Name</a>
    		</li>
    	}
    </ul>
</div>

